name: Nix formatting

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-stable
    - name: Check formatting
      run: nix shell nixpkgs#nixfmt --command nixfmt --check flake.nix
